
      <tr id="<%= type %>_entry_row">
        <td>&nbsp;</td>
        <td><input class="count_entry" /></td>
        <td><input class="name_entry" /></td>
        <td></td>
        <td><button
                id="<%= type %>_entry_button"
                class="add_card_button">+</button></td>
      </tr>
