#deck_entry {
    width: 268px;
    margin: auto;
}

#deck_entry table {
    margin-top: 45px;
}

#input_entry {
    text-align: center;
    margin-top: 15px;
}

#input_example {
    width: 100%;
    text-align: left;
    color: #999999;
}

#deck_list table {
    width: 100%
}

td {
    text-align: left;
    padding: 2px;
    font-size: 120%;
}

.title {
    font-size: 200%;
}
.title_block {
    text-align: center;
}

.delete_run {
    color: #FF0000;
}

td .delete_run:hover {
    cursor: pointer;
}

#decklist_header {
    font-weight: bold;
}

.section {
}

#edit_deck_name {
    cursor: pointer;
}