html, body {
  background-color: #FFFFDD;
}

body {
  min-width: 920px;         /* 2 x (LC fullwidth + CC padding) + RC fullwidth */
}

#container {
  padding-left: 300px;      /* LC fullwidth */
  padding-right: 320px;     /* RC fullwidth + CC padding */
}

#container .column {
  position: relative;
  float: left;
}

#logo {
  clear: both;
}

#nav {
  float: left;
  margin-top: -18px;
}

#nav li {
  /*color: #AB5933;*/
  display: inline;
  padding: 5px 10px 2px 10px;
}

#nav li, #nav a {
  color: #62a3db;
  background-color: #3c2716;
}

.col_center {
  padding: 10px 10px;       /* CC padding */
  width: 100%;
}

.col_left {
  width: 300px;             /* LC width */
  padding: 0;          /* LC padding */
  right: 310px;             /* LC fullwidth + CC padding */
  margin-left: -100%;
}

.col_right {
  width: 300px;             /* RC width */
  padding: 0;          /* RC padding */
  margin-right: -100%;
}

#footer {
  clear: both;
  position:absolute;
  bottom:0;
  width:100%;
  font-size: 10px;
  height:50px;   /* Height of the footer */
  color: white;
  background-color: black;
}

/*** IE 6 (and 7?) Fix ***/
* html #left {
  left: 300px;              /* RC fullwidth */
}

/*** Equal-height Columns ***/

#container {
  overflow: hidden;
}

#container .column {
  padding-bottom: 1001em;     /* X + padding-bottom */
  margin-bottom: -1000em;     /* X */
}

/*** Footer Fix ***/

* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
}

/*** Just for Looks ***/
#header, #footer {
  text-align: center;
}

#container .column {
  padding-top: 1em;
  text-align: justify;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p {
  font-size: large;
  padding: 15px;
}

#header {
  background-color: #362c22;
  background-image: url("/images/mtg_tile.png");
}